<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.pixelgang.hand" version="2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android = "http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Money Hand Guillotine</name>
	<description>Wtch out for the sharp object</description>
	<author href="http://www.digitalharmony.agency" email="digitalharmonyagency@gmail.com">Digital Harmony</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="26" />

	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<preference name="deployment-target" value="9.0" />
	<preference name="android-minSdkVersion" value="23" />
	<access origin="*" />

	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="https://github.com/cranberrygame/cordova-plugin-ad-admob" />


	<engine name="ios" />
	<engine name="android" />
</widget>