<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.pixelgang.hand" version="2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Money Hand Guillotine</name>
	<description>Approach the sharp guillotine to earn millions of dollars! Put your hand under the blade to get US dollars. The goal is to reach millionaire status without losing its members. Enhance your reflexes, and be brave to beat the clever cutting standards!</description>
	<author href="http://www.digitalharmony.agency" email="support@digitalharmony.agency">Digital Harmony Agency</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="26" />
	<preference name="phonegap-version" value="cli-8.0.0" />

	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<preference name="deployment-target" value="9.0" />
	<preference name="android-minSdkVersion" value="21" />
	<access origin="*" />

	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="https://github.com/cranberrygame/com.cranberrygame.phonegap.plugin.ad.leadbolt#7f64ba524655502db002e644f3485942f3e2875c" />


	<engine name="ios" />
	<engine name="android" />
</widget>
